<!DOCTYPE html>
<html>
  <head>
		<%- include("partials/_head"); %>
  </head>
  <body class="showcase showcase--advice">

		<main class="container shadow rounded-bottom">
			<header class="top">
				<div class="d-flex flex-column flex-md-row align-items-center pt-0 pb-0">
					<h5 class="my-0 mr-md-auto"><img src="/img/jga_avatar.png" height="100"></h5>
					<nav class="my-2 my-md-0 mr-md-3 d-flex">
						<!--
						<a class="p-2 text-dark" href="#">Features</a>
						<a class="p-2 text-dark" href="#">Enterprise</a>
						<a class="p-2 text-dark" href="#">About</a>
						-->
					</nav>
				</div>
			</header>
			<div class="row">
				<div class="col-12">
					<div class="jumbotron">
						<div class="advice-set-details">
							<h1 class="display-4">&nbsp;</h1>
							<p class="lead text-muted">Loading...</p>
							<hr>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-lg-3 assumptions-outer-container">			
					<div class="assumptions-container" style="display:none;">
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-assumptions" role="tabpanel" aria-labelledby="pills-assumptions-tab">
								<header class="assumptions-container-header"><h5>Assumptions</h5></header>
								<div class="assumptions"></div>
							</div>
							<div class="tab-pane fade" id="pills-qa" role="tabpanel" aria-labelledby="pills-qa-tab">
								<header class="assumptions-container-header"><h5>Answers</h5></header>
								<div class="answers"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 col-lg-9 advice-outer-container">
					<div class="row ml-n3">
						<div class="col-lg-6 center-col">
							<div class="advice bg-white"></div>
						</div>
						<div class="col-lg-6 right-col">
							<div class="list-all-recommendations"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="push"></div>
		</main>
		<%- include("partials/_footer"); %>

<div class="modal fade" id="dataModal" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModalLabel">Raw Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="variables-container">
					<table class="table table-borderless table-hover table-sm">
						<thead>
							<tr>
								<th>Variable</th>
								<th class="text-right">Value</th>
							</tr>
						</thead>
						<tbody class="variables"></tbody>
					</table>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

		<!--templates-->
<%- include("index/adviceSetDetails"); %>
<%- include("index/inputRequest"); %>
<%- include("index/advice"); %>
<%- include("index/recommendations"); %>

<%- include("index/answers"); %>
<%- include("index/assumptions"); %>
<%- include("index/variables"); %>
<%- include("partials/_toast"); %>

<div id="__init" data-page-init="showcase"></div>

		<%- include("partials/_footer_js"); %>
  </body>
</html>
