<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= api.data.advice.title %> - <%= api.data.advice.owner.name %></title>
		<meta name="description" content="<%= api.data.advice.description %>">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="application-name" content="Just Good Advice">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Just Good Advice">
		<meta name="robots" content="index,follow">
		<meta name="google" content="nositelinkssearchbox">

		<link rel="stylesheet" href="/dist/css/main.css" />
		
		<!--favicons-->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6d256c">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		<script>window.jga=window.jga||{};window.jga.config={web_host:"<%= locals.WEB_HOST %>",api_host:"<%= locals.API_HOST %>",api_key:"<%= locals.API_KEY %>"};</script>
  </head>
  <body class="showcase showcase--advice">

		<header class="banner bg-stripes">
			<img src="/img/logo_white.svg" height="28">
		</header>

		<div class="container-fluid mt-4">
			<div class="row">
				<div class="col-md-3">
					<div class="advice-set-details">Loading...</div>
					<div class="assumptions-container rounded" style="display:none;">
						<ul class="nav nav-tabs" id="pills-tab" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" id="pills-vars-tab" data-toggle="pill" href="#pills-vars" role="tab" aria-controls="pills-vars" aria-selected="false">Your Assumptions</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-qa-tab" data-toggle="pill" href="#pills-qa" role="tab" aria-controls="pills-qa" aria-selected="true">Your Answers</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-vars" role="tabpanel" aria-labelledby="pills-vars-tab">
								<!--<ul class="answersByVariable list-unstyled"></ul>-->
								<ul class="assumptions list-unstyled"></ul>
							</div>
							<div class="tab-pane fade" id="pills-qa" role="tabpanel" aria-labelledby="pills-qa-tab">
								<ul class="answers list-unstyled"></ul>
							</div>
						</div>
					</div>
					<div>
						<small><a href="/s/<%= api.data.advice.id %>/" class="text-muted">Reset</a></small>
					</div>
				</div>
				<div class="col-md-8 col-lg-7">
					<div class="row no-gutters">
						<div class="col-lg-8 p-2">
							<div class="advice rounded bg-white mt-2"></div>
							<div class="list-all-recommendations"></div>
							<div class="list-advice-recommendations"></div>
							<div class="list-advice-todo"></div>
							<div class="list-advice-completed"></div>
							<div class="toggle-mode">
								<a href="#" class="text-muted" data-action="toggle-mode">
									<span>Switch mode</span>
									<i class="fad fa-random"></i>
								</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="variables-container rounded" style="display:none;">
								<table class="table table-borderless table-hover table-sm">
									<thead>
										<tr>
											<th>Variable</th>
											<th class="text-right">Vaue</th>
										</tr>
									</thead>
									<tbody class="variables"></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--templates-->
		<script id="tmpl_adviceSetDetails" type="x-tmpl-mustache">
			<h2><a href="https://app.justgoodadvice.com/advicesets/{{advice._id}}/open-editor" target="_blank" class="text-body">{{advice.title}}</a></h2>
			<p class="lead">{{advice.description}}</p>
		</script>

		<script id="tmpl_groupedRecommendationsAdviceList" type="x-tmpl-mustache">
			{{#if _recommendationsExist}}
				
					{{#each recommendations}}
						<div class="rounded bg-white mt-2">
							<h6>{{@key}}</h6>
							<ul class="advice-list recommendations fa-ul">
								{{#each this}}
									<li data-id="{{id}}" data-idx="{{idx}}">
										<span class="fa-li">
											<a href="https://app.justgoodadvice.com/advicesets/{{../../advice._id}}/rules/{{expand.ruleId}}/show?selectedNodeId={{id}}" target="_blank">
												<i class="fad fa-thumbs-up"></i>
											</a>
										</span>
										{{headline}}
									</li>
								{{/each}}
							</ul>
						</div>
					{{/each}}
				
			{{/if}}
		</script>

		<script id="tmpl_answersList" type="x-tmpl-mustache">
			{{#each answers}}
				<li data-id="{{id}}" data-idx="{{idx}}" class="qa position-relative">
					<div class="q">{{question}}</div>
					<div class="a"><a href="#" class="stretched-link">{{value}}</a></div>
				</li>
			{{/each}}
		</script>

		<script id="tmpl_answersListByVariable" type="x-tmpl-mustache">
			{{#if answers}}
				<li data-id="{{id}}" data-idx="{{idx}}" class="qa position-relative">
					<div class="q">
						{{_count}}.
						{{#if expand.form.questionVariable}}
							<span class="text-monospace">{{expand.form.questionVariable.name}}</span>&nbsp;&nbsp;&nbsp;
						{{else}}
							{{question}}
						{{/if}}
					</div>
					<div class="a"><a href="#" class="stretched-link">
						{{#if expand.form.questionVariable}}
							{{expand.form.questionVariable.result.value}}
						{{else}}
							{{value}}
						{{/if}}
					</a></div>
				</li>
			{{/if}}
		</script>

		<script id="tmpl_assumptionsList" type="x-tmpl-mustache">
			{{#each answers}}
				<li data-id="{{id}}" data-idx="{{idx}}" class="qa position-relative">			
					{{#if statement}}
						<div class="a statement"><a href="#" class="stretched-link">
							{{_count}}. {{statement}}
						</a></div>
					{{else}}
						<div class="q">
							{{_count}}.
							{{#if expand.form.questionVariable}}
								<span class="text-monospace">{{expand.form.questionVariable.name}}</span>&nbsp;&nbsp;&nbsp;
							{{else}}
								{{question}}
							{{/if}}
						</div>
						<div class="a"><a href="#" class="stretched-link">
							{{#if expand.form.questionVariable}}
								{{expand.form.questionVariable.result.value}}
							{{else}}
								{{value}}
							{{/if}}
						</a></div>
					{{/if}}
				</li>
			{{/each}}
		</script>

		<script id="tmpl_variablesList" type="x-tmpl-mustache">
			{{#each variables}}
				<tr>
					<td>
						<a href="https://app.justgoodadvice.com/admin/dictionary?preloadId={{id}}" target="_blank" title="{{name}}">
							{{name}}
						</a>
					</td>
					<td class="text-right" title="{{value}}">
						{{#if format}}
							{{valueF}}
						{{else}}
							{{value}}
						{{/if}}
					</td>
				</tr>
			{{/each}}
		</script>

		<script id="tmpl_adviceInputRequest" type="x-tmpl-mustache">
			<div class="question">
				<header class="d-flex justify-content-between icon-row">
					{{#if display.explanation}}
						<div>
						<p class="lead">{{display.explanation}}</p>
						<h3>{{display.question}}</h3>
						</div>
					{{else}}
						<h3>{{display.question}}</h3>
					{{/if}}
					<div class="dropdown">
						<a class="btn btn-sm btn-light" href="#" role="button" id="dropdownMenuLink{{display.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="far fa-ellipsis-h"></i>
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{display.id}}">
							<div class="dropdown-header">ADVICE BUILDER</div>
							<a href="https://app.justgoodadvice.com/advicesets/{{advice._id}}/rules/{{display.ruleId}}/show?selectedNodeId={{display.id}}" target="_blank" class="dropdown-item">
								<i class="fad fa-pencil"></i> Edit in Advice Builder
							</a>
							<a href="https://app.justgoodadvice.com/advicesets/{{advice._id}}/rules/{{display.ruleId}}/debug" class="dropdown-item" data-action="openDebugWithQuerystring">
								<i class="fad fa-debug"></i> Debug
							</a>
							<a href="https://app.justgoodadvice.com/_/advice/widget/{{advice.id}}/_/01111J/" class="dropdown-item" data-action="openClassicWithQuerystring">
								<i class="fad fa-comments"></i> Classic
							</a>
							<div class="dropdown-divider"></div>
							<div class="dropdown-header">DEVELOPERS</div>
							<a href="{{advice.apiUrl}}" class="dropdown-item" target="_blank">
								<i class="fad fa-code"></i> Open API
							</a>
						</div>
					</div>
				</header>
				
				<hr>
				<form data-id="{{display.id}}">

					<div class="form-group">

						{{#if display.form.fieldType_isRadio}}
						
							{{#each display.form.values}}
								<div class="custom-control custom-radio">
									<input type="radio" name="{{../display.form.name}}" value="{{value}}" id="{{id}}" class="custom-control-input" required>
									<label class="custom-control-label" for="{{id}}">{{label}}
									{{#if helpText}}
									<small class="form-text text-muted">{{helpText}}</small>
									{{/if}}
									</label>
								</div>
							{{/each}}

						{{/if}}

						{{#if display.form.fieldType_isBoolean}}

							<div class="custom-control custom-radio">
								<input type="radio" name="{{display.form.name}}" value="true" id="yes_{{display.id}}" class="custom-control-input required">
								<label class="custom-control-label" for="yes_{{display.id}}">Yes</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" name="{{display.form.name}}" value="false" id="no_{{display.id}}" class="custom-control-input" required>
								<label class="custom-control-label" for="no_{{display.id}}">No</label>
							</div>

						{{/if}}

						{{#if display.form.fieldType_isNumber}}
						
							<input type="text" class="form-control w-50" id="{{display.id}}" name="{{display.form.name}}" autocomplete="off" required>

						{{/if}}

						{{#if display.form.fieldType_isPercent}}
						
							<input type="text" class="form-control w-50" id="{{display.id}}" name="{{display.form.name}}" data-type="{{display.form.fieldType}}" autocomplete="off" required>

						{{/if}}

					</div>

					<div class="continue">
						{{#unless display._isFirst}}
							<a href="#" class="btn btn-outline-primary" data-action="back">Back</a>
						{{/unless}}
						<button type="submit" data-id="{{display.id}}" class="btn btn-primary">Next</button>
					</div>
				</form>
			</div>
		</script>

		<script id="tmpl_adviceAdvice" type="x-tmpl-mustache">
			<header class="d-flex justify-content-between icon-row">
				<h3>{{display.headline}}</h3>
				<div class="dropdown">
					<a class="btn btn-sm btn-light" href="#" role="button" id="dropdownMenuLink{{display.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="far fa-ellipsis-h"></i>
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{display.id}}">
						<div class="dropdown-header">ADVICE BUILDER</div>
						<a href="https://app.justgoodadvice.com/advicesets/{{advice._id}}/rules/{{display.ruleId}}/show?selectedNodeId={{display.id}}" target="_blank" class="dropdown-item">
							<i class="fad fa-pencil"></i> Edit in Advice Builder
						</a>
						<a href="https://app.justgoodadvice.com/advicesets/{{advice._id}}/rules/{{display.ruleId}}/debug" class="dropdown-item" data-action="openDebugWithQuerystring">
							<i class="fad fa-debug"></i> Debug
						</a>
						<a href="https://app.justgoodadvice.com/_/advice/widget/{{advice.id}}/_/01111J/" class="dropdown-item" data-action="openClassicWithQuerystring">
							<i class="fad fa-comments"></i> Classic
						</a>
						<div class="dropdown-divider"></div>
						<div class="dropdown-header">DEVELOPERS</div>
						<a href="{{advice.apiUrl}}" class="dropdown-item" target="_blank">
							<i class="fad fa-code"></i> Open API
						</a>
					</div>
				</div>
			</header>

			<hr>
			<p class="">
				{{#if display.summary}}
					{{display.summary}}
				{{else}}
					<small class="text-muted"><em>No summary provided.</em></small>
				{{/if}}
			</p>
			{{#if display.attachment}}
				{{#if display.attachment._isInteractiveChart}}
					<section class="advice-attachment advice-chart--interactive" id="{{display.attachment.id}}">
						<scr{{!}}ipt>
							var chartFrame = document.createElement('iframe');
							chartFrame.frameBorder = '0';
							chartFrame.scrolling = 'no';
							chartFrame.allowTransparency = 'true';
							chartFrame.allowFullscreen = 'true';
							chartFrame.width = '100%';
							chartFrame.height = '100%';
							document.getElementById('{{display.attachment.id}}').appendChild(chartFrame);
							chartFrame.src = '{{display.attachment.url}}';
							chartFrame.onload = function(){
								var data = {
									advice: window.jga.advice,
									config: window.jga.config
								}
								chartFrame.contentWindow.postMessage(data, "*");
							}
						</scr{{!}}ipt>
					</section>
				{{else}}
					<section class="att">
						<figure>
							<img class="advice-attachment img-fluid" src="https://d1d53ugxmopqf1.cloudfront.net/fit-in/1000x563/filters:quality(75)/{{display.attachment.fileId}}">
						</figure>
					</section>
				{{/if}}
			{{/if}}
			{{#if display.actions.length}}
				{{#each display.actions}}
					<div><a href="{{url}}" target="_blank" class="btn btn-sm btn-primary">{{name}}</a></div>
				{{/each}}
			{{/if}}
		</script>
		
		<script>window.jga=window.jga||{};window.jga.api = <%- JSON.stringify(api.data) %>;</script>
		<script src="/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<script src="/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
		<script src="/numeral/min/numeral.min.js" type="text/javascript"></script>
		<script src="/dist/js/main.js" type="text/javascript"></script>
  </body>
</html>
