<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title><%= api.data.adviceset.title %></title>
  <meta name="description" content="<%= api.data.adviceset.description %>">
  
  <meta property="og:title" content="<%= api.data.adviceset.title %>" />
	<meta property=”og:description” content="<%= api.data.adviceset.description %>">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://launch.taffrail.app/s/<%= api.data.adviceset.id %>" />
  <meta property="og:image" content="https://assets.taffrail.com/app/OG_image.png" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	This page is intended for bots and link expanders. If you got here in a browser, <a href="/s/<%= api.data.adviceset.id %>?nobot=1" rel="nofollow">go to the showcase</a>.
</body>

</html>