<!DOCTYPE html>
<html>
  <head>
		<%- include("partials/_head"); %>
  </head>
  <body class="showcase showcase--advice">

		<header class="banner bg-stripes fixed-top">
			<div class="container">
				<img src="/img/logo_white.svg" height="28">
			</div>
		</header>
		
		<main class="container">
			<div class="row">
				<div class="col-md-6 mt-4">
					<div class="advice-set-details">Loading...</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-lg-3 pr-lg-2">			
					<div class="assumptions-container rounded" style="display:none;">
						<div class="d-flex justify-content-between">
							<ul class="nav nav-tabs" id="pills-tab" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link active" id="pills-assumptions-tab" data-toggle="pill" href="#pills-assumptions" role="tab" aria-controls="pills-assumptions" aria-selected="true">Assumptions</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="pills-qa-tab" data-toggle="pill" href="#pills-qa" role="tab" aria-controls="pills-qa" aria-selected="false">Answers</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="pills-var-tab" data-toggle="pill" href="#pills-var" role="tab" aria-controls="pills-var" aria-selected="false">Data</a>
								</li>
							</ul>
							<ul class="nav nav-tabs assumption-expander" role="tablist" style="display:none;">
								<li class="nav-item" role="presentation">
									<a class="nav-link" href="#" data-expand="assumptions" data-collapsed="true" data-toggle="tooltip" title="Expand/collapse assumptions"><i class="fad fa-plus-square"></i></a>
								</li>
							</ul>
						</div>
						<div class="tab-content rounded-bottom rounded-right" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-assumptions" role="tabpanel" aria-labelledby="pills-assumptions-tab">
								<div class="assumptions"></div>
							</div>
							<div class="tab-pane fade" id="pills-qa" role="tabpanel" aria-labelledby="pills-qa-tab">
								<div class="answers"></div>
							</div>
							<div class="tab-pane fade" id="pills-var" role="tabpanel" aria-labelledby="pills-var-tab">
								<div class="variables-container">
									<table class="table table-borderless table-hover table-sm">
										<thead>
											<tr>
												<th>Variable</th>
												<th class="text-right">Vaue</th>
											</tr>
										</thead>
										<tbody class="variables"></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div>
						<a class="reset" style="display:none;" href="./">Reset</a>
						<a class="openmobile alone" href="#" data-toggle="tooltip" title="View mobile styles"><i class="far fa-mobile"></i> Mobile</a>
					</div>
				</div>
				<div class="col-md-7 col-lg-9 push-down">
					<div class="row ml-n3">
						<div class="col-lg-6 center-col pl-lg-0 pr-lg-2">
							<div class="advice rounded bg-white"></div>
						</div>
						<div class="col-lg-6 right-col pl-lg-0 pr-lg-0">
							<div class="list-all-recommendations"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="push"></div>
		</main>

		<%- include("partials/_footer"); %>

		<!--templates-->
<%- include("index/adviceSetDetails"); %>
<%- include("index/inputRequest"); %>
<%- include("index/advice"); %>
<%- include("index/recommendations"); %>

<%- include("index/answers"); %>
<%- include("index/assumptions"); %>
<%- include("index/variables"); %>
<%- include("partials/_toast"); %>

		<%- include("partials/_footer_js"); %>
  </body>
</html>
