<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= api.data.adviceset.title %> - <%= api.data.adviceset.owner.name %></title>
		<meta name="description" content="<%= api.data.adviceset.description %>">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="application-name" content="Just Good Advice">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Just Good Advice">
		<meta name="robots" content="index,follow">
		<meta name="google" content="nositelinkssearchbox">

		<link rel="stylesheet" href="/dist/css/main.css" />
		
		<!--favicons-->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6d256c">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		<script>window.jga=window.jga||{};window.jga.config={web_host:"<%= locals.WEB_HOST %>",api_host:"<%= locals.API_HOST %>",api_key:"<%= locals.API_KEY %>"};</script>
		<% if (locals.GTAG_ID) { %>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=<%= GTAG_ID %>"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', '<%= GTAG_ID %>');
			</script>
		<% } %>
  </head>
  <body class="showcase showcase--advice showcase--advice_mobile">

		<header class="banner bg-stripes fixed-top">
			<div class="container">
				<img src="/img/logo_white.svg" height="28">
			</div>
		</header>
		
		<main class="container">
			<div class="row">
				<div class="col-md-6 mt-4">
					<div class="advice-set-details">Loading...</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="mt-3">This is an alternative interface for this Advice rule.
						<ul class="list-unstyled mt-4 text-sm">
							<li class="py-1"><a href="/s/<%= api.data.adviceset.id %>/?<%= api.data.adviceset._apiUrlQuery %>" class="text-primary"><i class="fad fa-arrow-alt-circle-left"></i> Back to main view</a></li>
							<li class="py-1"><a href="#" class="text-primary ux-app" data-uxmode="app"><i class="fad fa-comment-lines"></i> Toggle style (app or virtual assistant)</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-8">
					<section class="phone">
						<section class="screenarea">
							<main class="screen">
								<header class="title"><%= api.data.adviceset.title %></header>
								<a class="action-assumptions" href="#" data-sheet="assumptions" data-toggle="tooltip" title="View assumptions"><i class="fal fa-clipboard-list-check"></i></a>
								<div class="answers-chat-bubbles"></div>
								<div class="advice"></div>
								<div class="list-all-recommendations"></div>
								<div id="sheet_assumptions" class="sheet screen-edge-padding">
									<header>
										<h6>Assumptions</h6>
										<a href="#" data-sheet="assumptions"><i class="fal fa-times"></i></a>
									</header>
									<div class="assumptions"></div>
								</div>
							</main>
							<footer class="tabbar">
								<a href="/s/<%= api.data.adviceset.id %>/mobile" data-toggle="tooltip" title="Reset"><i class="fad fa-home"></i></a>
								<a href="#"><i class="fad fa-dollar-sign"></i></a>
								<a href="#" class="center ux-app" data-uxmode="app" title="Toggle app style" data-toggle="tooltip"><i class="fad fa-comment-lines"></i></a>
								<a href="#"><i class="fad fa-user"></i></a>
								<a href="#"><i class="fad fa-cog"></i></a>
							</footer>
						
						</section>
					</section>
				</div>
			</div>
			<div class="push"></div>
		</main>

		<!--templates-->
<%- include("mobile/adviceSetDetails"); %>
<%- include("mobile/inputRequest"); %>
<%- include("mobile/recommendations"); %>
<%- include("mobile/assumptions"); %>
<%- include("mobile/answers-chatbubbles"); %>

		<%- include("_footer"); %>
		<%- include("_toast"); %>

		<script type="text/javascript">window.jga=window.jga||{};window.jga._isMobile=<%= locals.isMobile %>;window.jga.api = <%- JSON.stringify(api.data) %>;</script>
		<script src="/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<script src="/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
		<script src="/dist/js/main.js" type="text/javascript"></script>
		<script>
			window.intercomSettings = {
				app_id: "<%= locals.INTERCOM_APP_ID %>",
				alignment: 'left'
			};
		</script>

		<script>
		(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/<%= locals.INTERCOM_APP_ID %>';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
		</script>
  </body>
</html>
