<!DOCTYPE html>
<html>
  <head>
		<%- include("partials/_head"); %>
  </head>
  <body class="showcase showcase--advice showcase--advice_mobile showcase--advice_mobile-asst uxmode-asst">

		<header class="banner bg-stripes fixed-top">
			<div class="container">
				<img src="/img/logo_white.svg" height="28">
			</div>
		</header>
		
		<main class="container">
			<header class="row">
				<div class="col-md-6">
					<div class="advice-set-details"><h2>&nbsp;</h2><p class="lead text-muted">Loading...</p></div>
				</div>
				<div class="col-md-6 demo-nav">
					<ul class="nav nav-pills">
						<%- include("_voices_dropdown"); %>
						<li class="nav-item">
							<a class="nav-link" href="#" data-target="full">Main</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-target="mobile">Mobile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#" data-target="asst">Virtual Assistant</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-target="salesforce">Salesforce</a>
						</li>
					</ul>
				</div>
			</header>
			<div class="row">
				<div class="col-md-4 left-intro">
					<p class="mt-3">
						Our Advice API can be integrated into existing <strong>virtual assistants</strong> and <strong>Alexa-enabled</strong> apps for customized and personalized experiences.
					</p>
					<div class="mt-5 typeahead d-none">
						<hr />
						<p>Try an Alexa-enabled request to start a new rule.</p>
						<form class="aiUserRequests">
							<div class="form-group">
								<input type="text" name="request" class="form-control form-control-sm" placeholder="Try typing '401k'...">
							</div>
						</form>
						<div id="typeahead_results"></div>
					</div>
				</div>
				<div class="col-md-8 right-pane">
					<section class="phone">
						<section class="screenarea">
							<main class="screen">
								<header class="title"></header>
								<div class="answers-chat-bubbles"></div>
								<div class="advice"></div>
								<div class="list-all-recommendations"></div>
							</main>
							<footer class="tabbar">
								<a href="./?" data-toggle="tooltip" title="Reset"><i class="fad fa-home"></i></a>
								<a href="#"><i class="fad fa-dollar-sign"></i></a>
								<a href="#" class="center"><i class="fad fa-comments"></i></a>
								<a href="#"><i class="fad fa-user"></i></a>
								<a href="#"><i class="fad fa-cog"></i></a>
							</footer>
						
						</section>
					</section>
				</div>
			</div>
			<div class="push"></div>
		</main>

		<!--templates-->
<%- include("mobile/adviceSetDetails"); %>
<%- include("mobile/inputRequest"); %>
<%- include("mobile/recommendations"); %>
<%- include("mobile/answers-chatbubbles"); %>

		<%- include("partials/_footer"); %>
		<%- include("partials/_toast"); %>

<div id="__init" data-page-init="showcaseVirtualAsst"></div>

		<%- include("partials/_footer_js"); %>
  </body>
</html>
